.profile {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px 0;
}

.imageBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  border: 2px solid #242424;
  border-bottom: none;
  border-radius: 12px 12px 0 0;
  background-color: #fafafa;
}

.image {
  width: 180px;
  background-color: #242424;
  border-radius: 50%;
  margin-bottom: 12px;
}

.name {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 12px;
}

.userInfo {
  color: #727070;
}

.stats {
  display: flex;
  background-color: #acacac;
  border: 2px solid #242424;
  border-top: 2px solid #727070;
  border-radius: 0 0 12px 12px;
}
.statsItem {
  width: calc((100% / 3));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px 0;
}

.statsItem:not(:last-child) {
  border-right: 2px solid #727070;
}

.statsItemTitle {
  font-size: 18px;
}
.statsItemNumber {
  font-size: 18px;
  font-weight: 500;
}
